
<h1>Juegos Disponibles :</h1>

<table border="1" align="center">
	<tr>
		<td class="col-md">juego1</td>
		<td class="col-md">juego2</td>
		<td class="col-md">juego3</td>
	</tr>
	<tr>
		<td class="col-md">123</td>
		<td class="col-md">123</td>
		<td class="col-md">123</td>
	</tr>
	<tr>
		<td class="col-md">123</td>
		<td class="col-md">123</td>
		<td class="col-md">123</td>
	</tr>
</table>