html,body{
	margin:0px;
	font-family: 'Indie Flower', cursive;
}

a,a:visited{
	color: inherit !important;
}
.logo {
	margin: 0px;
	font-family: 'Audiowide', cursive;
	color: red;
	font-size: 30px;
}

.be-blue{

	background-color: #211c02;
}

.white {
	color: white;
}

.large-padding{
	padding: 10px 7px;
}

ul {
	list-style:none;
}

h5 {
	text-align: center;
}

.tabla{

	
}